---
---

<html lang="en" dir="ltr">

<head>
    {% if page.title %}
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    {% else %}
    <title>{{ site.title | escape }}</title>
    {% endif %}

    <!-- Vector 2010 theme -->
    <link rel="stylesheet" href="{{ "/assets/css/mediawiki.css" | relative_url }}">
</head>

<body
    class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject page-Minetest rootpage-Minetest skin-vector action-view skin-vector-legacy">
    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
        {{ content }}
    </div>
    <div id="mw-navigation">
        <!-- <h2>Navigation menu</h2> -->
        <div id="mw-head">
            <!-- TODO: Page nav -->
        </div>
        <div id="mw-panel">
            <div id="p-logo" role="banner">
                <a class="mw-wiki-logo" title="Visit the main page" href="{{ "/" | relative_url }}"></a>
            </div>
            <nav id="p-navigation" class="vector-menu vector-menu-portal portal portal-first"
                aria-labelledby="p-navigation-label" role="navigation">
                <h3 id="p-navigation-label">
                    <span>Navigation</span>
                </h3>
                <div class="body vector-menu-content">
                    <ul class="vector-menu-content-list">
                        <li>
                            <a href="{{ "/" | relative_url }}" title="Visit the main page">Main page</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>